{% extends 'inherit_main.html' %}

{% block content %}

    <h2>Recent Posts:</h2>
    {% for post in posts %}
        <div class="home-post">
            <a href="{% url 'creator-post' post.id %}"><b>Post</b></a>

            <div class="home-post-content">
                <i>Name: {{ post.post_title }}</i>
                <br>
                <br>
                <i>id: {{ post.id }}</i>
                <br>
                <p>
                    desc: {{ post.post_content|truncatechars:20 }}
                </p>
            </div>
            <br>
        </div>
    {% endfor %}
    <hr>
    <h2>Recent Videos</h2>
    {% for video in videos %}
        <span>
            <div class="home-video">
                <a href="{% url 'video-view' video.video_uuid %}"><b>Video</b></a>
                <div class="home-video-content">
                    <span><i>Title : {{ video.video_title|truncatechars:45 }}</i></span>
                    <br>
                    <br>
                    <i>uuid : {{ video.video_uuid }}</i>
                    <br>
                    <i>by : {{ video.video_creator }}</i>
                </div>
            </div>
        </span>
    {% endfor %}
{% endblock content %}
