{% extends 'inherit_main.html' %}

{% block content %}

    {% for post in posts %}
        <div class="home-post">
            <a href="{% url 'creator-post' post.id %}"><b>Post</b></a>

            <div class="home-post-content">
                <i>name: {{ post.post_title }}</i>
                <br>
                <br>
                <i>id: {{ post.id }}</i>
                <br>
                <p>
                    desc: {{ post.post_content|truncatechars:20 }}
                </p>
            </div>
            <br>
        </div>
    {% endfor %}
{% endblock content %}
